<h2>New Thread</h2>

<%= form_with model: [@project, @discussion_thread], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 5, class: "form-control" %>
  </div>

  <%= f.submit "Create Thread", class: "btn btn-primary" %>
  <%= link_to "Back to Project", project_path(@project), class: "btn btn-secondary" %>
<% end %>
