<h2><%= @project.name %></h2>
<p><%= @project.description %></p>

<h4 class="mt-4">Team Members</h4>
<ul class="list-group">
  <% @project.users.each do |user| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span><%= user.name %> (<%= user.email %>)</span>
      <% if (current_user.admin? || @project.creator == current_user) && user != current_user %>
        <%= button_to "Remove", project_membership_path(@project, user.id),
                      method: :delete,
                      data: { confirm: "Remove user from project?" },
                      class: "btn btn-sm btn-danger" %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.admin? || @project.creator == current_user %>
  <div class="mb-4 mt-4">
    <h5 class="text-muted">Invite a user to this project</h5>
    <%= form_with url: project_memberships_path(@project), method: :post, local: true do |f| %>
      <div class="form-group">
        <%= label_tag :email, "User Email" %>
        <%= text_field_tag :email, nil, class: "form-control" %>
      </div>
      <%= f.submit "Invite", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
<% end %>

<hr>

<h4>Attachments</h4>
<ul class="list-group">
<% @project.attachments.each do |attachment| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span><%= link_to attachment.file.filename.to_s, rails_blob_path(attachment.file, disposition: "attachment") %></span>

    <% if attachment.user == current_user %>
      <%= button_to "Delete", project_attachment_path(@project, attachment),
                    method: :delete,
                    class: "btn btn-sm btn-danger" %>
    <% end %>
  </li>
<% end %>
</ul>

<% if @project.users.include?(current_user) %>
  <div class="mt-3">
    <%= form_with(model: [@project, Attachment.new], local: true, html: { multipart: true }) do |form| %>
      <div class="form-group">
        <%= form.label :file %>
        <%= form.file_field :file, class: "form-control" %>
      </div>
      <%= form.submit "Upload", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
<% end %>

<hr>

<h4>Threads</h4>
<ul class="list-group">
  <% @threads.each do |thread| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span><%= link_to thread.title, project_discussion_thread_path(@project, thread) %></span>
      <% if current_user.admin? %>
        <div class="d-flex">
          <%= link_to "Edit", edit_project_discussion_thread_path(@project, thread), class: "btn btn-sm btn-secondary me-3" %>
          <%= button_to "Delete", project_discussion_thread_path(@project, thread),
                        method: :delete,
                        class: "btn btn-sm btn-danger ms-1" %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <%= link_to "New Thread", new_project_discussion_thread_path(@project), class: "btn btn-primary mt-3" %>
<% end %>
